*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #252525;
}

#particles-js {
    position: absolute;
    z-index: -1;
    background-color: #252525;
    height: 99.4%;
    width: 100%;
}
.container {
    margin: 0 auto;
    padding: 10px 15px 0px 15px;
}

a {
    text-decoration: none;
}

/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }                
}

/* Medium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    } 
}

/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width:1170px;
    } 
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .logo {
    width: 130px;
    margin: 0;
}

header ul {
    display: flex;
    margin-top: 20px;
    list-style: none;
}

header ul li {
    padding: 0 20px;
}

@media (max-width: 767px) { 
    header ul li {
        font-size: 10px;
        padding: 0 5px;
    }

    header .logo {
        width: 100px;
    }
}

header ul li a {
    color: #DDDD;
    font-weight: bold;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

header ul li a:hover {
    color: #5a5959;
}

main .container {
    height: calc(100vh - (92.8px + 42px));
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    main .container {
        height: calc(100vh - 115.69px);
    }
    
}


main .container .details {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 45%;
    text-align: center;
}

main .container .image {
    flex-basis: 45%;
}



main .container .details h1 {
    width: 100%;
    margin: 0;
    color: #DDDD;
    font-weight: bold;
}

main .container .details p {
    width: 100%;
    margin: 0;
    color: #ccc9c9dd;
    line-height: 2;
    
}

main .container .details span {
    color: #f1c21b;
    
} 

main .container .details a {
    display: flex;
    width: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    color: #252525;
    font-weight: bold;
    background-color: #dddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

main .container .details a:hover {
    background-color: #adadaddd;
}

main .container .image {
    position: relative;
    flex-basis: 45%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    overflow: hidden;
}

main .container .image .shape {
    position: absolute;
    left: 50%;
    bottom: -150px;
    transform: translate(-50%);
    width: 500px;
    transition: 1s;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

main .container .image .me {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transition: 0.8s;
    bottom: 0px;
    width: 450px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

main .container .image:hover .shape {
     bottom: -135px;
}

main .container .image:hover .me {
     left: 45%;
}

@media (max-width: 767px) {
    main .container .details {
        flex-basis: 100%;
    }

    main .container .image {
        flex-basis: 100%;
        text-align: center;
    }
    main .container .image .shape {
        width: 350px;
        bottom: -150px;
    }
    main .container .image .me {
        width: 300px;
        bottom: 0.3px;
    }
    main .container .image:hover .shape {
        bottom: -135px;
    }
}

footer {
    background-color: #141414;
}

footer .container {
    height:42px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

footer .mail {
    margin: 0;
    width: calc(98% / 3);
    color: rgb(132, 138, 150);
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}

footer div {
    width: calc(98% / 3);
    padding: 5px;
    
}

footer span {
    width: calc(98% / 3);
    color: rgb(132, 138, 150);
    padding: 5px;

}

footer div a {
    color: rgb(132, 138, 150);
    font-size: 20px;
    margin: 5px;
}

    @media (max-width: 767px) {
        footer .mail {
            font-size: 10px;
            word-break: break-all;
        }

        footer div a {
            font-size: 12px;
        }

        footer span {
            font-size: 10px;
        }
    }